[user]
	name = Patrick Willner
	email = dev@willner.online
[core]
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = false
[includeIf "gitdir:~/Documents/quartett/"]
    path = ~/.gitconfig_quartett
